@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-size: 4rem;
  font-family: JetBrains Mono, monospace;
  font-weight: 400;
  background-color: #1e1e1e;
}

.home-lines {
  --line-opacity: 0;
}

.home-lines * {
  pointer-events: all;
}

.header-tabs * {
  pointer-events: all;
}

@keyframes write {
  to {
    width: var(--real-width);
  }
}

@keyframes blink {

  0%,
  100% {
    box-shadow: 5px 0px transparent;
  }

  50% {
    box-shadow: 5px 0px #707070;
  }
}

@keyframes home-margin {
  to {
    margin-left: 48px;
    margin-top: 35px;
    width: calc(100% - 48px);
    height: calc(100% - 35px);
  }
}

@keyframes sidebarTranslateX {
  to {
    transform: translateX(0);
  }
}

@keyframes headerTranslateY {
  to {
    margin-left: 48px;
    transform: translateY(0);
  }
}
