.cardsContainer {
  outline: 1px green solid;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
  z-index: -20;

  >.card {
    width: 100%;
    height: calc(100% - 20px * 2);
    max-width: 500px;
    color: white;
    text-shadow: 0 0 20px black;
    text-align: start;
    overflow: hidden;
    white-space: nowrap;
    transform: box-shadow .5s ease;
    box-shadow: -1px -120px 126px -50px rgba(0, 0, 0, 0.75) inset;
    position: absolute;
    border-radius: .5em;
    font: system-ui;
    transition: transform .5s ease;

    &#x-2 {
      display: initial;
      pointer-events: none;

      >.text-or-logo {
        box-shadow: 200px 200px 400px 200px rgba(0, 0, 0, 0.75) inset;
      }
    }

    &#x-1 {
      display: initial;
      pointer-events: none;

      >.text-or-logo {
        box-shadow: 200px 200px 400px 200px rgba(0, 0, 0, 0.50) inset;
      }
    }

    &#x0 {
      display: initial;

      >.text-or-logo {
        box-shadow: 200px 200px 400px 200px rgba(0, 0, 0, 0) inset;
      }
    }

    &#x1 {
      display: initial;
      pointer-events: none;

      >.text-or-logo {
        box-shadow: 200px 200px 400px 200px rgba(0, 0, 0, 0.50) inset;
      }
    }

    &#x2 {
      display: initial;
      pointer-events: none;

      >.text-or-logo {
        box-shadow: 200px 200px 400px 200px rgba(0, 0, 0, 0.75) inset;
      }
    }

    &#x-5 {
      display: none;
    }

    >.wip {
      width: 100%;
      height: 10%;
      background: linear-gradient(45deg, rgba(0, 0, 0, .25) 0%, rgba(255, 255, 0, .25) 1%, rgba(0, 0, 0, .25) 2%, rgba(255, 255, 0, .25) 3%, rgba(0, 0, 0, .25) 4%, rgba(255, 255, 0, .25) 5%, rgba(0, 0, 0, .25) 6%, rgba(255, 255, 0, .25) 7%, rgba(0, 0, 0, .25) 8%, rgba(255, 255, 0, .25) 9%, rgba(0, 0, 0, .25) 10%, rgba(255, 255, 0, .25) 11%, rgba(0, 0, 0, .25) 12%, rgba(255, 255, 0, .25) 13%, rgba(0, 0, 0, .25) 14%, rgba(255, 255, 0, .25) 15%, rgba(0, 0, 0, .25) 16%, rgba(255, 255, 0, .25) 17%, rgba(0, 0, 0, .25) 18%, rgba(255, 255, 0, .25) 19%, rgba(0, 0, 0, .25) 20%, rgba(255, 255, 0, .25) 21%, rgba(0, 0, 0, .25) 22%, rgba(255, 255, 0, .25) 23%, rgba(0, 0, 0, .25) 24%, rgba(255, 255, 0, .25) 25%, rgba(0, 0, 0, .25) 26%, rgba(255, 255, 0, .25) 27%, rgba(0, 0, 0, .25) 28%, rgba(255, 255, 0, .25) 29%, rgba(0, 0, 0, .25) 30%, rgba(255, 255, 0, .25) 31%, rgba(0, 0, 0, .25) 32%, rgba(255, 255, 0, .25) 33%, rgba(0, 0, 0, .25) 34%, rgba(255, 255, 0, .25) 35%, rgba(0, 0, 0, .25) 36%, rgba(255, 255, 0, .25) 37%, rgba(0, 0, 0, .25) 38%, rgba(255, 255, 0, .25) 39%, rgba(0, 0, 0, .25) 40%, rgba(255, 255, 0, .25) 41%, rgba(0, 0, 0, .25) 42%, rgba(255, 255, 0, .25) 43%, rgba(0, 0, 0, .25) 44%, rgba(255, 255, 0, .25) 45%, rgba(0, 0, 0, .25) 46%, rgba(255, 255, 0, .25) 47%, rgba(0, 0, 0, .25) 48%, rgba(255, 255, 0, .25) 49%, rgba(0, 0, 0, .25) 50%, rgba(255, 255, 0, .25) 51%, rgba(0, 0, 0, .25) 52%, rgba(255, 255, 0, .25) 53%, rgba(0, 0, 0, .25) 54%, rgba(255, 255, 0, .25) 55%, rgba(0, 0, 0, .25) 56%, rgba(255, 255, 0, .25) 57%, rgba(0, 0, 0, .25) 58%, rgba(255, 255, 0, .25) 59%, rgba(0, 0, 0, .25) 60%, rgba(255, 255, 0, .25) 61%, rgba(0, 0, 0, .25) 62%, rgba(255, 255, 0, .25) 63%, rgba(0, 0, 0, .25) 64%, rgba(255, 255, 0, .25) 65%, rgba(0, 0, 0, .25) 66%, rgba(255, 255, 0, .25) 67%, rgba(0, 0, 0, .25) 68%, rgba(255, 255, 0, .25) 69%, rgba(0, 0, 0, .25) 70%, rgba(255, 255, 0, .25) 71%, rgba(0, 0, 0, .25) 72%, rgba(255, 255, 0, .25) 73%, rgba(0, 0, 0, .25) 74%, rgba(255, 255, 0, .25) 75%, rgba(0, 0, 0, .25) 76%, rgba(255, 255, 0, .25) 77%, rgba(0, 0, 0, .25) 78%, rgba(255, 255, 0, .25) 79%, rgba(0, 0, 0, .25) 80%, rgba(255, 255, 0, .25) 81%, rgba(0, 0, 0, .25) 82%, rgba(255, 255, 0, .25) 83%, rgba(0, 0, 0, .25) 84%, rgba(255, 255, 0, .25) 85%, rgba(0, 0, 0, .25) 86%, rgba(255, 255, 0, .25) 87%, rgba(0, 0, 0, .25) 88%, rgba(255, 255, 0, .25) 89%, rgba(0, 0, 0, .25) 90%, rgba(255, 255, 0, .25) 91%, rgba(0, 0, 0, .25) 92%, rgba(255, 255, 0, .25) 93%, rgba(0, 0, 0, .25) 94%, rgba(255, 255, 0, .25) 95%, rgba(0, 0, 0, .25) 96%, rgba(255, 255, 0, .25) 97%, rgba(0, 0, 0, .25) 98%, rgba(255, 255, 0, .25) 99%, rgba(0, 0, 0, .25) 100%);
      position: absolute;
      z-index: 10;
      font-size: 30px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      transition: opacity .5s ease, filter .5s ease, width .5s ease, height .5s ease;

      >img {
        height: 40%;
      }
    }

    >.img {
      width: 100%;
      height: 100%;
      max-width: 500px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      position: absolute;
      transition: transform .5s ease;
      backdrop-filter: none;
    }

    >.blur {
      width: 100%;
      height: 100%;
      max-width: 500px;
      backdrop-filter: blur(5px);
      position: absolute;
      opacity: 1;
      transition: opacity .5s ease;
    }

    >.text-or-logo {
      background-repeat: no-repeat;
      background-position: center;
      background-size: 90%;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: opacity .5s ease, filter .5s ease, width .5s ease, height .5s ease, box-shadow .5s ease;
      transform: translateZ(0);
    }

    >.description-box {
      // outline: 1px blue dotted;
      width: 100%;
      height: 25%;
      transition: transform .5s ease, width .5s ease, height .5s ease;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 2%;
      gap: 2%;
      text-shadow: none;
      position: absolute;
      transform: translateZ(-10px);
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      background: rgba(255, 255, 255, 0.05);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(9.5px);

      >.text-container {
        // outline: 1px red dotted;
        flex-grow: 1;
        white-space: normal;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        text-align: center;

        >.tittle {
          font-size: 30px;
        }

        >.description {
          font-size: 20px;
        }
      }

      >.button-container {
        // outline: 1px red dotted;
        width: 100%;
        height: 25%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: relative;
        gap: 2%;

        >.like {
          outline: 1px transparent solid;
          position: relative;
          min-width: 33%;
          width: max-content;
          height: 100%;
          padding: 0 10px;
          border-radius: 20px;
          color: black;
          background-color: #282828;
          box-shadow: -10px -10px 50px -15px rgba(255, 0, 0, 0.75), 10px 10px 50px -15px rgba(255, 0, 0, 0.75);
          transition: box-shadow .25s ease, outline .25s ease;
          color: white;
          font-size: 20px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 10px;
        }

        >.link {
          outline: 1px transparent solid;
          position: relative;
          width: 33%;
          height: 100%;
          border-radius: 20px;
          background-color: aquamarine;
          color: black;
          background-color: #282828;
          box-shadow: -10px -10px 50px -15px rgba(255, 0, 255, 0.75), 10px 10px 50px -15px rgba(255, 0, 255, 0.75);
          transition: box-shadow .25s ease, outline .25s ease;
          color: white;
          font-size: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        >.like>img {
          height: 100%;
        }

        >.like>*:last-child {
          margin: 0 6px;
        }

        >.like:hover {
          outline: 1px red solid;
          box-shadow: -10px -10px 50px -15px rgba(0, 0, 0, 0), 10px 10px 50px -15px rgba(0, 0, 0, 0);
        }

        >.link:hover {
          outline: 1px purple solid;
          box-shadow: -10px -10px 50px -15px rgba(0, 0, 0, 0), 10px 10px 50px -15px rgba(0, 0, 0, 0);
        }

      }
    }

    &:hover>.text-or-logo {
      height: 75%;
      filter: blur(5px);
      opacity: .6;
    }

    &:hover>.img {
      transform: scale(1.2);
    }

    &:hover>.blur {
      opacity: 0;
    }

    &:hover>.wip {
      filter: blur(5px);
      opacity: .6;
    }
  }

  >.btn {
    width: 75px;
    height: 75px;
    outline: 5px white solid;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    background-color: #282828;

    &#prev {
      left: 75px;
    }

    &#next {
      right: 75px;
    }

    &:hover {
      color: white;
    }
  }
}
