#background {
  &-grid {
    background-image: linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px), linear-gradient(90deg, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
    background-size: 50px 50px;
  }
}

@keyframes slideHorizontal {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  5% {
    opacity: 0.25;
  }
  95% {
    opacity: 0.25;
  }
  100% {
    transform: translateX(calc(100vw + 200px));
    opacity: 0;
  }
}

@keyframes slideVertical {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  5% {
    opacity: 0.25;
  }
  95% {
    opacity: 0.25;
  }
  100% {
    transform: translateY(calc(100vh + 200px));
    opacity: 0;
  }
}
